<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Event Details</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Attendee Event Page</h1>
    <h2 class="mb-2"><%= event.title %></h2>
    <h5 class="mb-4"><%= event.event_description%></h5>
    <form action="/book/<%= event.id %>" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input required type="text" value="<%= event.title %>" name="title" id="title" readonly="readonly" class="form-control">
        </div>
        <div class="form-group">
            <label for="title">Date</label>
            <input required type="text" value="<%= event.event_date %>" name="event_date" id="date" readonly="readonly" class="form-control">
        </div>
        <div class="form-group">
            <label for="title">Your Name</label>
            <input required type="text" name="attendee_name" id="attendee_name" class="form-control">
        </div>
        <h7>Price: </h7> $<%= event.ticket_price_full %>
        <div class="form-group">
            <label for="ticket_type_full">Select number of full price tickets:</label>
            <select name="ticket_type_full" id="ticket_type_full">
                <option value="0">select</option>
                <% fullTicketOptions.forEach(function(fullTicket) { %>
                    <option value="<%= fullTicket %>"><%= fullTicket %> ticket<%= fullTicket > 1 ? 's' : '' %></option>
                <% }); %>
            </select>
        </div>
        <h7>Price: </h7> $<%= event.ticket_price_discount %>
        <div class="form-group">
            <label for="ticket_type_discount">Select number of discount price tickets:</label>
            <select name="ticket_type_discount" id="ticket_type_discount">
                <option value="0">select</option>
                <% discountTicketOptions.forEach(function(discountTicket) { %>
                    <option value="<%= discountTicket %>"><%= discountTicket %> ticket<%= discountTicket > 1 ? 's' : '' %></option>
                <% }); %>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Book</button>
    </form>
    <p> 
        <br>
        <a href="/attendeeHome">Attendee Home</a><br>
        <a href="/">Home</a>
    </p>
    </div>
</body>
</html>